version: "3"
services:
  webapi:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - monitoring
    ports: 
      - 5000:5000
      - 5001:5001
      - 1234:1234
    command: /bin/sh -c "while sleep 1000; do :; done"  
    volumes:
      - ../:/workspace:cached
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always 
    ports:
      - 3000:3000
    networks:
      - monitoring
    environment:
      # Disable authentication and more or less all security
      # to be able to run it through forwarded ports in VS Online
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_ENFORCE_DOMAIN=false
      - GF_SECURITY_COOKIE_SAMESITE=disabled
      - GF_SECURITY_ALLOW_EMBEDDING=true
  telegraf:
    image: telegraf 
    container_name: telegraf 
    restart: always 
    networks:
      - monitoring
    volumes:
      - ./../telegraf-volume/telegraf.conf:/etc/telegraf/telegraf.conf:ro
  influxdb:
    image: influxdb
    container_name: influxdb
    restart: always
    ports:
      - 8086:8086
    networks:
      - monitoring
    environment:
      - INFLUXDB_DB=telegraf
      - INFLUXDB_ADMIN_ENABLED=true
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
      - INFLUXDB_USER=user
      - INFLUXDB_USER_PASSWORD=user
networks:
  monitoring: